{% extends 'common/base.html' %}
{% load app_filters %}
{% block content %}
<div class="container">

  <div class="row">
    <form action="">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="input-group">
          <input type="text" class="form-control"
            name="keyword" placeholder="{{ keyword }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">검색</button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <p></p>

  <p></p>
  <ul class="media-list">
    {% for item in response.items %}
    <li class="media">
      <div class="media-left">
        <a href="#">
          <img src="{{ item.snippet.thumbnails.medium.url }}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ item.snippet.title }}</h4>
        <p>{{ item.snippet.description|truncatewords:80 }}</p>
        <p>{{ item.snippet.publishedAt|str2date|date:'Y-m-d H:i:s' }}</p>

        {% if item.exist %}
        <button class="btn btn-warning">등록된 영상</button>
        {% else %}
        <form action="{% url 'video:video_add' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="kind" value="{{ item.kind }}">
          <input type="hidden" name="key" value="{{ item.id }}">
          <input type="hidden" name="title" value="{{ item.snippet.title }}">
          <input type="hidden" name="desc" value="{{ item.snippet.description }}">
          <input type="hidden" name="published_date" value="{{ item.snippet.publishedAt|str2date|date:'Y-m-d H:i:s' }}">
          <input type="hidden" name="thumbnail" value="{{ item.snippet.thumbnails.medium.url }}">

          <input type="hidden" name="next" value="{{ request.get_full_path }}">
          <button type="submit" class="btn btn-primary">북마크에 추가</button>
        </form>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>

  <nav>
    <ul class="pager">
      {% if response.prevPageToken %}
      <li><a href="{% url 'video:search' %}?keyword={{ keyword }}&page_token={{ response.prevPageToken}}">이전페이지</a></li>
      <li><a href="{% url 'video:search' %}?keyword={{ keyword }}">첫 페이지로</a></li>
      {% endif %}
      {% if response.nextPageToken %}
      <li><a href="{% url 'video:search' %}?keyword={{ keyword }}&page_token={{ response.nextPageToken}}">다음페이지</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
